
.App {
  /* display: flex;
    flex-direction: row; */
  background-color: whitesmoke;
  color: #2b2d42;
}

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.intro-text {
  background-color: #2b2d42;
  padding: 5%;
  border: 1px white solid;
  color: #edf2f4;
  border-radius: 10px;
  font-size: 1rem;
}

.project_card_container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.card_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.stack_container {
  display: flex;
  justify-content: space-evenly;
  gap: 2%;
  margin: -1.5% 0;
}

.btn-project-details {
  width: 100%;
  border: none;
  font-size: x-large;
  height: 54px;
  font-weight: bolder;
}

.about-me-text p {
  background-color: #2b2d42;
  padding: 5%;
  border: 1px white solid;
  border-radius: 10px;
  color: #edf2f4;
}

.resume_btn {
  height: 3.5rem;
  width: 75%;
  border: none;
  font-size: xx-large;
  font-weight: bolder;
  margin-top: 2rem;
}

.skill_group {
  font-size: 12px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.skills_card {
  border-bottom: 2px solid darkslategray;
  margin-top: 10px;
}

.stack_name {
  padding: 2px 5px;

  /* background-color: #1976d2; */
  color: whitesmoke;
}

.detail_container {
  padding: 0.5rem;
  margin: 2rem 0;
  background-color: whitesmoke;
}

.link-btn {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.modal-style {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  border: 2px solid #000;
  box-shadow: 12px 12px 24px #000;
  padding: 4px;
  margin-top: 10px;
  overflow: scroll;
  max-height: 100vh;
  padding-top: 15%;
}

.media-title {
  font-size: 1.5rem;
}

.contact-section {
  padding: 0 3rem;
  background-color: #2b2d42;
  padding-top: 30px;
}

.contact-text {
  color: whitesmoke;
}

.name-email-field label,
.text-area-field label {
  color: whitesmoke;
  width: 100%;
}

.project_description p {
  background-color: #2b2d42;
  padding: 5%;
  border: 1px white solid;
  color: #edf2f4;
  border-radius: 10px;
  font-size: 1.5rem;
}

.footer-media img {
  width: 30%;
}

@media screen and (min-width: 768px) {
  .btn-project-details {
    width: 50%;
  }

  .intro-text {
    font-size: 1.5rem;
    width: 75%;
  }

  .social-media-container {
    display: flex;
  }

  .media-title {
    font-size: 1.5rem;
    width: 50%;
  }

  .about_me_container {
    display: flex;
    gap: 3rem;
  }

  .about-me-text {
    width: 50%;
  }

  .resume_btn {
    width: 60%;
  }

  .about-me-text p {
    font-size: 1.5rem;
  }

  .skills-col {
    width: 50%;
  }

  .skills-heading {
    font-size: 2rem;
  }

  .skills_card h6 {
    font-size: 2rem;
  }

  .skill_group span {
    font-size: 1.5rem;
  }

  .skill_group {
    font-size: 1.5rem;
  }

  .contact-section {
    padding: 0 15rem;
  }

  .contact-text {
    font-size: 1.5rem;
  }

  .name-email-field {
    display: flex;
    gap: 1rem;
  }

  .name-email-item {
    width: 50%;
  }

  .name-email-field label {
    font-size: 1.5rem;
    width: 100%;
  }

  .text-area-item label {
    font-size: 1.5rem;
    width: 100%;
  }

  .text-area-field textarea {
    height: 15rem;
    font-size: 1.5rem;
  }

  .name-email-field input {
    height: 3rem;
    font-size: 1.5rem;
  }

  .contact-button {
    width: 100%;
    height: 5rem;
    font-size: 2rem;
    font-weight: 700;
  }

  .modal-style {
    width: 50%;
  }

  .contact-form {
    margin: 0 20%;
  }

  #Contact {
    padding-top: 5%;
  }

  .footer-media img {
    width: 20%;
  }

  .angelist-icon {
    width: 40%;
  }
}
